@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Varela);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/style.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../scss/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
        mixins
 */
/*
        includes
 */
@-webkit-keyframes pulse-pending {
  /* line 80, ../scss/style.scss */
  0% {
    background-color: #ffcc6f;
  }

  /* line 83, ../scss/style.scss */
  50% {
    background-color: orange;
  }

  /* line 86, ../scss/style.scss */
  100% {
    background-color: #ffcc6f;
  }
}

@keyframes pulse-pending {
  /* line 80, ../scss/style.scss */
  0% {
    background-color: #ffcc6f;
  }

  /* line 83, ../scss/style.scss */
  50% {
    background-color: orange;
  }

  /* line 86, ../scss/style.scss */
  100% {
    background-color: #ffcc6f;
  }
}

/*
	settings
*/
/* line 99, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 103, ../scss/style.scss */
html, body {
  height: 100%;
}

/* line 107, ../scss/style.scss */
body {
  background-color: white;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

/* line 115, ../scss/style.scss */
h1 {
  font-size: 2.5vw;
  margin-bottom: 40px;
}

/* line 120, ../scss/style.scss */
h2 {
  font-size: 2vmax;
}

/* line 124, ../scss/style.scss */
h3 {
  font-size: 2vmax;
  padding-bottom: 20px;
}

/* line 129, ../scss/style.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 134, ../scss/style.scss */
.l-content {
  background-color: #222222;
  height: 100%;
}

/*
  module header
*/
/* line 143, ../scss/style.scss */
.m-header {
  background-color: #222222;
}
/* line 145, ../scss/style.scss */
.m-header h1 {
  display: inline-block;
  background-color: white;
  padding: 20px 40px;
  color: #757575;
}

/*
  module branch
*/
/* line 157, ../scss/style.scss */
.m-branch {
  padding: 10px;
}

/* line 161, ../scss/style.scss */
.m-branch-events {
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 167, ../scss/style.scss */
.m-branch-event {
  margin: 30px 0;
  overflow: hidden;
}

/* line 172, ../scss/style.scss */
.m-branch-event-image {
  float: left;
}

/* line 176, ../scss/style.scss */
.m-branch-event-desc {
  padding: 10px;
  font-size: 5vw;
  display: block;
}

/* line 182, ../scss/style.scss */
.is-success {
  background-color: #4faa4f;
}

/* line 186, ../scss/style.scss */
.is-error {
  background-color: #ad3a3a;
}

/* line 190, ../scss/style.scss */
.is-pending {
  -webkit-animation-name: pulse-pending;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulse-pending;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
