/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Varela);

/*
        mixins
 */

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation ($name, $duration, $count) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $count;

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $count;
}

/*
        includes
 */

@include keyframes(pulse-pending) {
    0% {
            background-color: rgb(255, 204, 111);
    }
    50% {
            background-color:orange;
    }
    100% {
            background-color: rgb(255, 204, 111);
    }
}

/*
	settings
*/

$c-1 : #fff;
$c-2 : #222;
$c-3 : #757575;

*{
  box-sizing: border-box;
}

html, body{
	height: 100%;
}	

body{
  background-color: $c-1;
  padding: 20px;
  color: $c-1;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

h1{
  font-size: 2.5vw;
  margin-bottom: 40px;
}

h2{
  	font-size: 2vmax;
}

h3{
	font-size: 2vmax;
	padding-bottom: 20px
}

a{
  text-decoration: none;
  color: $c-1;
}

.l-content{
  background-color: $c-2;
  height: 100%;
}

/*
  module header
*/

.m-header{
  background-color: $c-2;
  h1{
    display: inline-block;
    background-color: $c-1;
    padding: 20px 40px;
    color: $c-3;
  }
}

/*
  module branch
*/

.m-branch{
  padding: 10px;
}

.m-branch-events{
  overflow: hidden;
    margin-bottom: 30px;

}

.m-branch-event{
  margin: 30px 0;
  overflow: hidden;
}

.m-branch-event-image{
  float: left;
}

.m-branch-event-desc{
  padding: 10px;
  font-size: 5vw;
  display: block;
}

.is-success{
  background-color: rgb(79, 170, 79);
}

.is-error{
  background-color: rgb(173, 58, 58);
}

.is-pending{
  @include animation(pulse-pending, 3s, infinite);
}